<a href="https://colab.research.google.com/github/AlinaKruzhkova/University/blob/main/Tasks/%D0%94%D0%9F%D0%9E_%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B_Python_%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_1_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Практическая работа №1. Введение в Python. Функции ввода-вывода. Основные типы и структуры данных**

---

**Обучающийся:** *[Введите ваше ФИО]*

---

## **Блок заданий №1. Функция `print`**

#### 1. Выведите на экран фразу **"Добро пожаловать в мир Python!"** с помощью функции `print`.

In [1]:
print ('Добро пожаловать в мир Python!')

Добро пожаловать в мир Python!

#### 2. Выведите на экран результат сложения чисел **15** и **27**.

In [2]:
print (15 + 27)

42

#### 3. Сохраните свое имя в переменную и выведите его на экран с помощью `print`.

In [3]:
name = 'Алина'
print (name)

Алина

#### 4. Выведите на экран несколько строк текста, каждая из которых отображается с новой строки.

In [21]:
print('Это просто \nтекст')
print('Снова \nтекст')
print('И опять текст')

Это просто
текст
Снова
текст
И опять текст

#### 5. Выведите результат математического выражения с использованием f-строк, например:

   ```python
   7 + 7 = 14
   ```

In [24]:
a = 8
b = 9
print (f'{a} + {b} = {a + b}')

8 + 9 = 17

## **Блок заданий №2. Функция `input`**

#### 1. Запросите у пользователя три разных числа и выведите их произведение.

In [29]:
print(int(input('Введите первое число: ')) + int(input('Введите второе число: ')) + int(input('Введите третье число: ')))

Введите первое число: 3
Введите второе число: 6
Введите третье число: 1
10

#### 2. Попросите пользователя ввести свое ФИО, а затем выведите фамилию и инициалы.

In [15]:
fullname = input('Введите Ваше полное ФИО: ')
splited_name = name.split(" ")
a = splited_name[1]
b = splited_name[2]
print (splited_name[0] + ' ' + splited_name[1][0] + '. ' + splited_name[2][0] + '.')

Введите Ваше полное ФИО: Кружкова Алина Алексеевна
Кружкова А. А.

#### 3. Получите от пользователя строку и символ, затем определите, сколько раз этот символ встречается в строке.

In [38]:
print(input('Введите строку: ').count(input("Введите символ: ")))

Введите строку: лалалаля
Введите символ: л
4

#### 4. Попросите пользователя ввести любимый цвет и выведите сообщение: **"[Цвет] - красивый цвет!"**.

In [42]:
color = input('Напишите свой любимый цвет: ')
print(f'{color} - красивый цвет!')

Напишите свой любимый цвет: синий
синий - красивый цвет!

#### 5. Получите от пользователя строку и выведите ее длину.

In [44]:
text = input('Введите любую фразу: ')
print(len(text))

Введите любую фразу: Рим как мир
11

## **Блок заданий №3. Тип данных `int`**

#### Тип данных `int`

1. Создайте переменную типа `int`, присвойте ей значение **42** и выведите на экран.

In [46]:
number = 42
print(number)

42

2. Вычислите и выведите результат выражения **(17 * 3) + (10 / 2)** в виде целого числа.

In [49]:
result = (17*3) + (10/2)
print(int(result))

56

3. Преобразуйте строку **"100"** в целое число и добавьте к нему **25**.

In [50]:
str_number = '100'
int_number = int(str_number)
result = int_number + 25
print(result)

125

4. Проверьте тип переменной, которая хранит значение **7**, используя функцию `type()`.

In [51]:
a = 7
print(type(a))

<class 'int'>

5. Создайте две переменные целого типа, присвойте им значения и выведите их разницу.

In [52]:
a = 6
b = 2
result = a - b
print(result)

4

## **Блок заданий №4. Тип данных `float`**

#### 1. Запросите у пользователя вещественное число и выведите его квадрат.

In [56]:
number = float(input('Введите вещественное число: '))
square = number**2
print(f'{number} в квадрате равно {square}')

Введите вещественное число: 3.5
3.5 в квадрате равно 12.25

#### 2. Запросите у пользователя вещественное число и округлите его до двух знаков после запятой.

In [57]:
number = float(input('Введите вещественное число: '))
print(round(number, 2))

Введите вещественное число: 5.78894
5.79

#### 3. Сложите два числа с плавающей точкой: **2.5** и **4.7**, выведите результат.

In [58]:
result = 2.5 + 4.7
print(result)

7.2

#### 4. Преобразуйте градусы Цельсия, введенные пользователем, в Фаренгейты по формуле `F = C * 9/5 + 32`.

In [61]:
C = float(input('Введите градусы по Цельсию: '))
F = C * 9/5 + 32
print('В Фаренгейтах это ', F, ' градуса(ов)')

Введите градусы по Цельсию: 23
В Фаренгейтах это  73.4  градуса(ов)

#### 5. Получите от пользователя длину и ширину прямоугольника, вычислите его площадь и периметр.

In [65]:
a = float(input('Введите длину прямоугольника: '))
b = float(input('Введите ширину прямоугольника: '))
S = a * b
P = 2 * (a + b)
print('Площадь равна ', S, ', а периметр равен ', P)

Введите длину прямоугольника: 2.5
Введите ширину прямоугольника: 3
Площадь равна  7.5 , а периметр равен  11.0

## **Блок заданий №5. Тип данных `str`**

####1. Создайте строку **"Python - самый популярный язык программирования"** и выведите ее.

In [66]:
str_1 = "Python - самый популярный язык программирования"
print(str_1)

Python - самый популярный язык программирования

####2. Выведите первый и последний символы строки **"Привет, мир!"**.

In [68]:
my_str = 'Привет, мир!'
print(my_str[0], ', ', my_str[-1])

П ,  !

####3. Соедините три строки: **"МИИГАиК - "** , **"Лучший "**, **"ВУЗ!"** выведите результат.

In [70]:
str_1 = 'МИИГАиК - '
str_2 = 'лучший '
str_3 = 'ВУЗ!'
result = str_1 + str_2 + str_3
print(result)

МИИГАиК - лучший ВУЗ!

####4. Преобразуйте строку **"12345"** в число и выведите тип полученного значения.

In [71]:
str_number = '12345'
int_number = int(str_number)
print(type(int_number))

<class 'int'>

####5. Сделайте все буквы строки **"python is Fun"** заглавными и выведите результат.

In [72]:
text = "python is Fun"
print(text.upper())

PYTHON IS FUN

## **Блок заданий №6. Тип данных `list`**

####1. Создайте список из чисел **[10, 20, 30, 40, 50]** и выведите его.

In [73]:
my_list = [10,20,30,40,50]
print(my_list)

[10, 20, 30, 40, 50]

####2. Добавьте в список строку **"новый элемент"** и выведите обновленный список.

In [75]:
my_list = ['элемент', 'еще элемент']
my_list.append("новый элемент")
print(my_list)

['элемент', 'еще элемент', 'новый элемент']

####3. Из списка `['python', 'java', 'c++', 'ruby', 'perl']` выведите элементы с 2-го по 4-й включительно.

In [76]:
languages = ['python', 'java', 'c++', 'ruby', 'perl']
my_list = languages[1:4]
print(my_list)

['java', 'c++', 'ruby']

####4. Создайте пустой список, добавьте в него три любых значения и выведите итоговый список.

In [78]:
my_list = []
my_list.append('красный')
my_list.append('синий')
my_list.append('зеленый')
print(my_list)

['красный', 'синий', 'зеленый']

####5. Измените второй элемент списка **[1, 2, 3, 4, 5]** на число **200** и выведите список.

In [80]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(2)
numbers.insert(1, 200)
print(numbers)

[1, 200, 3, 4, 5]

## **Блок заданий №7. Тип данных `tuple`**

####1. Создайте кортеж из чисел **(1, 2, 3, 4, 5)** и выведите его на экран.

In [81]:
numbers_tuple = ('1', '2', '3', '4', '5')
print(numbers_tuple)

('1', '2', '3', '4', '5')

####2. Попробуйте изменить первый элемент кортежа и объясните в комментариях к программе, что произошло.

In [1]:
my_tuple = (1, 2, 3, 4, 5, 6)

# Попытка изменить первый элемент кортежа вызовет ошибку:
my_tuple[0] = 10  # TypeError: 'tuple' object does not support item assignment

# Кортежи неизменяемы, т.е. изменить отдельные элементы нельзя.

TypeError: 'tuple' object does not support item assignment

####3. Преобразуйте кортеж в строку и выведите результат.

In [2]:
my_tuple = (1, 2, 3, 4, 5, 6)
result = str(my_tuple)
print(result)

(1, 2, 3, 4, 5, 6)

####4. Проверьте, содержится ли определенный элемент в кортеже, выведите соответствующее сообщение.

In [8]:
my_tuple = ('ла', 'ла', 'ля', 'до', 'ла')
element = input('Введите любой элемент: ')
if element in my_tuple:
    print(f"Элемент '{element}' содержится в кортеже.")
else:
    print(f"Элемент '{element}' не содержится в кортеже.")

Введите любой элемент: да
Элемент 'да' не содержится в кортеже.

####5. Создайте кортеж, состоящий из нескольких одинаковых элементов, и найдите их количество с помощью метода `count()`.

In [10]:
my_tuple = ('ла', 'ла', 'ля', 'до', 'ла')
count_la = my_tuple.count('ла')
print(count_la)

3

## **Блок заданий №8. Тип данных `dict`**

####1. Создайте словарь с данными о себе: ключи **"имя"**, **"возраст"**, **"город"**; выведите его.

In [11]:
me = {
    "имя": "Алина",
    "возраст": 22,
    "город": "Москва"
}
print(me)

{'имя': 'Алина', 'возраст': 22, 'город': 'Москва'}

####2. Выведите значение по ключу **"имя"** из созданного словаря.

In [13]:
name = me.get("имя")
print("Имя:", name)

Имя: Алина

####3. Добавьте в словарь новый ключ **"профессия"** со значением и выведите словарь.

In [15]:
me["профессия"] = 'художник'
print("Обновленный словарь:", me)

Обновленный словарь: {'имя': 'Алина', 'возраст': 22, 'город': 'Москва', 'профессия:': 'художник', 'профессия': 'художник'}

####4. Удалите из словаря ключ **"город"** и выведите обновленный словарь.

In [16]:
city = me.pop("город")
print("Обновленный словарь:", me)

Обновленный словарь: {'имя': 'Алина', 'возраст': 22, 'профессия:': 'художник', 'профессия': 'художник'}

####5. Создайте пустой словарь и добавьте в него пару ключ-значение, введенных пользователем.

In [17]:
new_dict = {}
key = input("Введите ключ: ")
value = input("Введите значение: ")
new_dict[key] = value
print(new_dict)

Введите ключ: город
Введите значение: Рязань
{'город': 'Рязань'}